################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/arif-hossain-cse.github.io/FileContentIndex/77007221-6da1-4003-9e72-7faa1337fbc3.vsidx
